 /* I HAVE MADE SOME CHANGES AND HAVE MARKED THEM WITH COMMENTS IN FRONT THEREOF. PLEASE READ THEM... FOR ANY CONFUSION OR QUERY, CONTACT.... mubarak*/
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* ############## ulitility classes ############## */

.container{
    max-width: 800px;
    width: 90%;
    margin: auto;
}

li{
    list-style: none;
    margin-left: 1.2rem;
    padding-top: 1rem;
}

li a{
   text-decoration: none;
   font-size: 1.2rem;
   color: #fff;
}
a:hover{
    color: #312f2f;
}
.logo-h2{
    font-size: 1.7rem;
    padding-top: 1rem;
    padding-left: 3rem;
}

.white{
    color: #fff;
}
.uppercase{
    text-transform: uppercase;
}

/* ######## nab-bar style ############## */

.nav-bar{
    background-color: #807979;
    width: 100%;
    z-index: 999;
    position: fixed;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.nav-ul{
    display: flex;
    order: 2;
}
.logo{
    order: 1;
}

/* ############ index page style ############# */

.home-contant{
    background-color: #7a7575;
    /* max-height: 82vh; */ /* you can use this one along with 'hieght' property if you want to make sure the hieght does not surpass a specific limit. alone it renders the hieght as auto  */
    min-height: 100vh;  /* use this hieght property instead of max-hieght. max-hieght is just a check that sets the upper limit to hieght of a div but does not defines its value.  */
     padding-top: 16rem;  /* changed from 12 rem to 16 rem */
     padding-bottom: 16rem;    /* ADDED; TO MAKE THE LOOK A BIT EVEN */
}
.home-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 400px;
}
.test{
    max-width: 365px;
    height: 365px;  
   background-color: #a7a0a0;
   border-radius: 20px;
   margin-bottom: 2rem;
   
}

.text-h2{
    padding: 2rem 0.4rem;
    font-size: 2.5rem;
    text-align: center;
}

.text-p{
    font-size: 1.4rem;
    text-align: center;
    padding: 1.2rem;
    padding-bottom: 2rem;
}
.text-box1{
    text-align: center;
    padding: 10px 20px 0;  /* PADDING ADDED */
   
}

 .btn{
    display:inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    background-color: #524f4f;
    padding: 1rem 1.5rem;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    border-radius: 50px;
}
.btn:hover{
    background-color: #312f2f;
    color: #fff;
}


img{
    height: 365px;
    display: inline-block;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* ########## feature style ############ */

.feature{  
    /* FOR THE FEATURES SECTION USE GRID ROWS AND COLUMNS TO SET IT ACCORDINGLY AS DIRECTED IN THE VOICE MESSAGE. PLEASE LISTEN THE VOICE MESSAGE AGAIN.  I THINK THERE WAS A CONFUSION....  */
    padding-top: 12rem;
    background-color:  rgba(193, 193, 187, 0.902);
    /* height: 86vh; */
    min-height: 100vh; /* added here too. */
}
.icon-size{
    font-size: 3rem;
    background-color: #a18989;
    padding: 0.7rem;
    border-radius: 50px;
    margin-top: 1rem;
}
.f-h2{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    font-weight: 700;
    color: #524f4f;
}

.feature-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    font-size: 1.4rem;
    min-height: 300px;
}
.text-box{
    background-color: #063022a9;
    width: 240px; /* changed  */
    height: 240px; /* changed  */
    padding-top: 10px; /* ADDED*/
    border-radius: 20px;
    margin-bottom: 2rem;
}
.t-p{
    padding-bottom: 1rem;
}
.t-h2{
    padding: 1rem 0;
}
.t-a{
    margin-bottom: 1rem;
}

/* ############# testimonail style ############## */
.Testimonail{
     background-color: #7a7575;
    /* height: 100vh;  */
    min-height: 100vh; /* HERE TOO */
    padding-top: 16em; /* changed from 7 em to 16 em */
    padding-bottom: 20rem; /* changed from 7 rem to 20 rem, JUST TO CENTER THE DIV VERTICALLY . YOU SHOULD PRACTICE FLEX OR GRID PROPERTIES TO GET RID OF THIS MANUAL SETTING OF PADDINGS IN MOST PLACES */
}
.testimo-h2{
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
.testimonial-container {
    margin: auto;
    height: 220px; /*Adjust the height as needed  */
    max-width: 300px; /*Adjust the width as needed */  /* NOTE: REMOVE COMMENTS FROM COPIED CODES IF THEY ARE NOT GUIDING YOU. JUST FOR A GOOD IMPRESSION */ 
    overflow-y: scroll;
    border: 3px solid #ccc;
    padding: 1rem;
}

.testimonial-card {
    height: 200px;
    text-align: center;
    background-color: #676863;
    border: 1px solid #191717;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.author {
    text-align: right;
    font-style: italic;
}
.size-card{
    font-size: 1.3rem;
}

/* ############## banner style ############ */
.Banner-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 3rem;
    /* height: 20vh; */   
    background-color:  rgba(193, 193, 187, 0.902);

}

.b-p{
    font-size: 1.2rem;
    padding-top: 1rem;
}
.l-v-h2{
    font-size: 1.6rem;
}
.Banner-item a{
    display: block;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: #000;
    margin: 0.5rem 0;
    font-size: 1.2rem;
}
/* ################# footer style ################ */

.footer-h2{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1.5rem;
    background-color: #7a7575;
    color: #0f0d0d;
}
@media (max-width: 500px){
    /* ##### banner ##### */
    .B-p{
        font-size: 1.2rem;
        padding: 3rem 1rem;
        text-align: center;
    }
    .p-icon{
        margin: auto;
    }
    .banner{
        text-align: center;
    }
    .Banner-container{
        /* background-color:  rgba(175, 175, 65, 0.902); */  /* A TAG WITH NO CONTENTS WITHIN MUST BE DELETED FROM YOUR FILE. */
    
    }
}