
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* ############## ulitility classes ############## */

.container{
    max-width: 800px;
    width: 90%;
    margin: auto;
}

li{
    list-style: none;
    margin-left: 1.2rem;
    padding-top: 1rem;
}

li a{
   text-decoration: none;
   font-size: 1.2rem;
   color: #fff;
}
a:hover{
    color: #312f2f;
}
.logo-h2{
    font-size: 1.7rem;
    padding-top: 1rem;
    padding-left: 3rem;
}

.white{
    color: #fff;
}
.uppercase{
    text-transform: uppercase;
}

/* ######## nab-bar style ############## */

.nav-bar{
    background-color: #807979;
    height: 45px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.nav-ul{
    display: flex;
    order: 2;
}
.logo{
    order: 1;
}

/* ############ index page style ############# */

.home-contant{
    background-color: #7a7575;
    height: 82vh;
    padding-top: 12rem;
}
.home-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 400px;
}
.test{
    width: 365px;
    height: 365px;
   background-color: #a7a0a0;
   border-radius: 20px;
   margin-bottom: 2rem;
}

.text-h2{
    padding: 2rem 0.4rem;
    font-size: 2.5rem;
    text-align: center;
}

.text-p{
    font-size: 1.4rem;
    text-align: center;
    padding: 1.2rem;
    padding-bottom: 2rem;
}
.text-box1{
    text-align: center;
}

 .btn{
    display:inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    background-color: #524f4f;
    padding: 1rem 1.5rem;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    border-radius: 50px;
}
.btn:hover{
    background-color: #312f2f;
    color: #fff;
}


img{
    height: 365px;
    display: inline-block;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* ########## feature style ############ */

.feature{
    padding-top: 12rem;
    background-color: rgba(216, 216, 107, 0.902);
    height: 85vh;
}
.icon-size{
    font-size: 3rem;
    background-color: #a18989;
    padding: 0.7rem;
    border-radius: 50px;
    margin-top: 1rem;
}
.f-h2{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    font-weight: 700;
    color: #524f4f;
}

.feature-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    font-size: 1.4rem;
    min-height: 300px;
}
.text-box{
    background-color: #063022a9;
    width: 365px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 2rem;
}
.t-p{
    padding-bottom: 1rem;
}
.t-h2{
    padding: 1rem 0;
}
.t-a{
    margin-bottom: 1rem;
}

/* ############# testimonail style ############## */
.Testimonail{
    background-color:  rgba(132, 132, 88, 0.902);
    height: 50vh; 
    padding-top: 6rem;
}
.testimo-h2{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
}
.testimonial-container {
    margin: auto;
    width: 300px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    overflow-y: scroll;
    border: 3px solid #ccc;
    padding: 1rem;
}

.testimonial-card {
    /* width: 20px; */
    height: 180px;
    text-align: center;
    background-color: #93a25c;
    border: 1px solid #4e4646;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.author {
    text-align: right;
    font-style: italic;
}
.size-card{
    font-size: 1.3rem;
}

/* ############## banner style ############ */
.Banner-container{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    /* margin-top: 5rem; */
    padding-top: 3rem;
    height: 20vh;
    background-color: rgb(127, 143, 36);

}

.b-p{
    font-size: 1.2rem;
    padding-top: 1rem;
}
.l-v-h2{
    font-size: 1.6rem;
}
.Banner-item a{
    display: block;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: #000;
    margin: 0.5rem 0;
    font-size: 1.2rem;
}
/* ################# footer style ################ */

.footer-h2{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3rem;
    background-color: rgb(190, 214, 51);
    color: #0f0d0d;
}